*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #3e3c45;
}
.contenedor{
    width: 500px;
    height: 100vh;
    margin: auto;
    background-color: #575366;
}
.contenedor-inputs{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #282535;
    margin-bottom: 30px;
    color: #EDF252;
}   
.text{
    outline: none;
    margin: 0 20px;
}
.btn-agregar{
    width: 150px;
    margin-bottom: 10px;
    margin: 10px auto;
    border: none;
    background-color: #5CA651;
    padding: 5px;
    border-radius: 4px;
    padding: 5px;
    color: white;
    font-weight: 700;
    font-size: .8em;
}

.tarea{
    width: 400px;
    background-color: #282535;
    border-radius: 4px;
    margin: 10px auto;
    padding: 15px;
    color: #EDF252;
    display: flex;
    justify-content: space-between;
}

.btn{
    border: none;
    background-color: #f3522e;
    padding: 5px;
    color: white;
    border-radius: 4px;
    font-weight: 700;
    font-size: .8em;
}

